<div class="service-container">
    <h3 class="service-description">{{@code.description}}</h3>
    <div class="service-details">
        <p class="service-duration">{{duration}}</p>
        <p class="service-cost">
            {{cost}}
        </p>
    </div>
</div>
<div class="selection-container">
    <LinkTo @route="list-offices" @model={{@clinicianId}} @query={{hash cptCode=@code.id}} >
        <button class="btn btn-primary btn-select-service">Select</button>
    </LinkTo>
</div>