<div class="root-container {{unless session.isLightTheme 'dark-theme-on'}}">
    {{#if isReady}}
        <div class="outer-container">
                <div class="header">
                    <i class="doctor-icon fa-solid fa-user-doctor-hair fa-2x"></i>
                    <div class="title-container">Schedule a Visit</div>
                    <div class="theme-toggle" {{action 'onToggleTheme'}}>
                        {{#if session.isLightTheme}}
                            <i class="fa-solid fa-moon-stars fa-2x"></i>
                        {{else}}
                            <i class="fa-solid fa-sun-bright fa-2x"></i>
                        {{/if}}
                    </div>
                </div>
                <div class="schedule-container">
                    <div class="schedule-menu-container">
                        <Common::Menu />
                    </div>
                    <div class="schedule-states">
                        {{outlet}}
                    </div>
                </div>
        </div>
    {{else}}
        {{outlet}}
    {{/if}}
</div>
